/* some css reset to reduce browser inconsistencies */
html, body, p {
  margin: 0;
  padding: 0;
}
:root{
  font-size: 0.8em;
}

body {
  align-items: center;
  display: flex;
  font-family: sans-serif;
  height: 100vh;
  justify-content: center;
}

.textbox {
  align-items: center;
  background: #5BA68A;
  color: lemonchiffon;
  display: flex;
  flex-direction: column;
  height: 80vh;
  padding: 20px;
  width: 80vw;
}

.text {
  /* font-size: 0.8em; */
  max-width: 500px; /* For a better readability we should keep a range of 50-80 characters*/
  padding-bottom: 13vh;
}

.button {
  background: #d9c45b;
  border: none;
  border-radius: 50%;
  color: inherit;
  display: flex;
  font-size: 1.6em;
  height: 150px;
  justify-content: center;
  width: 150px;
}


/* Tablets small screens */
@media screen and (min-width:481px) and (max-width:1024px) {
  /* Change the base font size */
  :root {
    font-size: 0.9em;
  }
  .button {
    font-size: 1.8rem;
    height: 200px;
    width: 200px;
  }
}

/* Desktop */
@media screen and (min-width:1025px) and (max-width:1200px) {
  :root {
    font-size: 1em;
  }
  .button {
    font-size: 2.4em;
    height: 250px;
    width: 250px;
  }
}

/* Large screens */
@media screen and (min-width:1201px) {
  :root {
    font-size: 1.1em;
  }
  .button {
    font-size: 3em;
    height: 300px;
    width: 300px;
  }
}
